$primary-color: #FA8B23;
$secondary-color: #278D27;
$text-primary-color: #2b1d00;
$text-secondary-color: #808080;
$info-alert: #E8EFF7;
$info-alert-message: #FDEFC8;
$info-alert-text-color: #008BF5;
$info-message-text-color: #EFB60C;
$error-message: #e72530;
$inner-bg: #f7f7f7;
$icon-color: #8b8b8b;

$primaryNew-color: #FA8B23;
$secondaryNew-color: #278D27;
$hover-color: #FA8B23;
$specialNew-text: #444;
$menuCaptionNew-text: #8094ae;
$titleNew-text: #364a63;
$input-label-text: #344357;
$low-color: #7059cc;
$error-message: #e72530;