.filter-seaction{
    padding-bottom: 10px;
    .form-field-wrapper-inner .input-field .q-field__control .q-field__label{
        font-weight: 400;
        font-size: 14px;
    }
    .q-field--auto-height.q-field--labeled .q-field__control-container {
        padding-top: 18px;
    }
}

